.content {
 max-width: min(112rem, 90%);
}

#room .link-copied {
 cursor: pointer;
 transition: 1s;
 opacity: 0;
 visibility: hidden;

 position: absolute;
 right: 2rem;
 top: 11rem;

 padding: 1rem;
 background-color: var(--light-blue);
 border-radius: .8rem;
}

#room .link-copied span {
 font: 500 1.4rem 'Poppins';
 color: var(--black);
}

#room .link-copied.active {
 opacity: 1;
 visibility: visible;
}

#room header {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-around;
}

#room header .buttons {
 display: flex;
}

#room header .buttons .button:nth-child(1) {
 margin-right: .8rem;
 padding: 1.3rem 1.6rem;
}

#room header .buttons .button:nth-child(1) svg {
 margin-left: 1rem;
 width: 2rem;
 height: 2rem;
}

#room header .buttons .button:nth-child(2) {
 padding: 1.3rem 1.5rem;
}

#room header .buttons .button:nth-child(2) svg {
 width: 2rem;
 height: 2rem;
 margin-right: 1rem;
}

/* form */

#question-form h2 {
 font: 700 2.8rem 'Poppins', sans-serif;
 color: var(--black);
 margin-bottom: 2.4rem;
 line-height: 4.2rem;
}

#question-form form {
 border: .2rem solid var(--grey-blue);
 padding: 1.6rem;
 border-radius:.8rem;
}

#question-form form textarea  {
 background: transparent;
 width: 100%;
 outline: none;
}

#question-form form textarea::-webkit-scrollbar {
 opacity: 0;
 visibility: hidden;
}

#question-form form textarea::-webkit-input-placeholder {
 color: var(--grey-blue);
}

#question-form form footer {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

#question-form form footer div div.anonymous-question {
 display: flex;
 align-items: center;
 color: var(--icons-details);
 font: 400 1.4rem 'Poppins', sans-serif;
}

#question-form form footer > div img {
 margin-right: .9rem;
}

#questions p, #questions a {
 font: 'Open Sans', sans-serif;
}

#questions {
 padding-bottom: 5rem;
}

#questions .question-wrapper {
 width: 100%;
 height: 11.6rem;
 margin-top: 1.6rem;
 padding: 2.5rem;
 border-radius: .8rem;
 background-color: var(--light-blue);
}

#questions .question-wrapper .question-content {
 display: flex;
 align-items: flex-start;
}

#questions .question-wrapper .question-content .user {
 clip-path: circle();
 background-color: var(--blue);
 padding: 1.4rem 1.4rem 1rem;
}

#questions .question-wrapper .question-content .question  {
 padding-left: 1.7rem;
 height: 5rem;
}

#questions .question-wrapper .question-content .question p {
 margin-left: 1.6rem;
 /* word-break: break-all; */
 word-break: break-word;
 display: flex;
 align-items: center;
 min-height: 5.5rem;
}

#questions .question-wrapper .actions {
 width: 100%;
 display: flex;
 justify-content: flex-end;
 align-items: center;
}

#questions .question-wrapper .actions a {
 display: flex;
 align-items: center;
 color: var(--grey-dark);
}

#questions .question-wrapper .actions a img {
 margin-right: 1rem;
}

#questions .question-wrapper .actions > a + a {
 margin-left: 2.4rem;
}

#questions .question-wrapper.read {
 background-color: var(--grey-medium);
}

#questions .question-wrapper.read .question-content .user {
 background-color: var(--grey-blue);
}

.no-questions {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: 5rem;
}

.no-questions p {
 margin-top: 1rem;
}

.no-questions p.no-question {
 color: var(--black);
 font: 700 1.8rem 'Poppins';
}

.no-questions:nth-child(3) {
 font: 400 1.4rem 'Open Sans';
}