<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/404.css" />
    <link rel="stylesheet" href="/css/global.css" />

    <script src="/scripts/main.js" defer type="module"></script>
    <title>404 - Rocket.Q</title>
</head>
<body>
    <div class="button-dark"> <i class="far fa-moon"></i> </div>
    <p class="message">Erro 404</p>
    
    <a href="/" class="back2-home">Voltar para o inicio</a>

    <a href="/create-pass" class="create-room">Criar Sala</a>

    <a href="/"> <img src="/img/logo.svg" alt="Logo Rocket.Q" class="logo"> </a>
</body>
</html>