<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        (async () => {
            await alert('Senha incorreta');
            window.location.href = "/room/<%= roomId %>"
        })();
    </script>
    <title>Senha Incorreta</title>
</head>

</html>