<section>
    <h2>Crie sua própria sala</h2>
    <form action="/create-room" method="POST">
        <label class="sr-only" for="room-id">Insira uma senha</label>
        <input type="password" name="password" id="room-id" placeholder="Crie uma senha">
        <button type="submit" class="hover-white">
            Criar Sala
        </button>
    </form>
</section>