<div class="no-questions">
    <img src="/img/bg-no-questions.svg" alt="Sem Perguntas!">
    <p class="no-question">Nenhuma pergunta por aqui...</p>
    <p class="first-question">Faça a primeira pergunta desta sala</p>
</div>